#!ipxe
###
### netboot.xyz-custom menu example
###

:custom
clear custom_choice
menu XBoot by NZKFLD Team -- http://folody.xyz && http://nezukobot.vn --
item --gap All-in-One CD
item option_one ${space} Windows 1.0 (No need to install)
item option_two ${space} Load GNAA Chocolate Kernel
choose custom_choice || goto custom_exit
echo ${cls}
goto ${custom_choice}
goto custom_exit

:option_one
kernel https://archive.org/download/w101bootflpd/bootdisk.img
initrd
boot || goto custom_exit

:option_two
kernel https://archive.org/download/gnaachoco/lmos.img
initrd 
boot || goto custom_exit


:custom_exit
chain utils.ipxe
exit
